.conclusion-container {
  width: 100%;
  height: 100vh;
  padding: 0 140px;
  background-color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.conclusion-decoration {
  width: 100%;
  position: absolute;
  top: 0;
}

.conclusion-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 200px;
  max-width: 700px;
  gap: var(--spacing-s);
}

.conclusion-content h3 {
  color: var(--color-primary);
  font-family: var(--fontFamily-heading);
  font-size: var(--fontSize-desktop-l);
  font-weight: var(--fontWeight-regular);
  margin: 0;
}

.conclusion-content Button {
  background-color: var(--color-secondary);
}

.conclusion-el-1,
.conclusion-el-2,
.conclusion-el-3,
.conclusion-el-4,
.conclusion-el-5,
.conclusion-el-6,
.conclusion-el-7,
.conclusion-el-8,
.conclusion-el-9 {
  position: absolute;
  z-index: 3;
}

.conclusion-el-1 {
  width: 125px;
  top: 18%;
  left: -70px;
}

.conclusion-el-2 {
  width: 225px;
  bottom: -120px;
  left: 12%;
}

.conclusion-el-3 {
  width: 85px;
  top: 21%;
  right: 20%;
}

.conclusion-el-4 {
  width: 130px;
  bottom: 8%;
  right: 24%;
}

.conclusion-el-5 {
  width: 30px;
  bottom: 15%;
  left: 35%;
}

.conclusion-el-6 {
  width: 25px;
  bottom: 30%;
  left: 60px;
}

.conclusion-el-7 {
  width: 15px;
  top: 30%;
  right: 45%;
}

.conclusion-el-8 {
  width: 25px;
  bottom: 9%;
  right: 30px;
}

.conclusion-el-9 {
  width: 130px;
  top: 5%;
  left: 25%;
}
