.header-container {
  padding: 0 140px;
  height: 100vh;
  position: relative;
}

.header-navbar {
  display: flex;
  align-items: center;
  position: absolute;
  width: calc(100% - 280px);
}

.header-logo {
  color: var(--color-primary);
  font-family: var(--fontFamily-heading);
  font-size: 25px;
  margin-right: auto;
}

.header-navigation {
  display: flex;
  list-style: none;
  gap: var(--spacing-s);
  align-items: center;
}

.header-navigation a {
  text-decoration: none;
  font-family: var(--fontFamily-text);
  font-size: var(--fontSize-desktop-m);
  color: var(--color-black);
}

.header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 530px;
  height: 100%;
  gap: var(--spacing-l);
}

.header-content p {
  color: var(--color-primary);
  font-family: var(--fontFamily-heading);
  font-size: var(--fontSize-desktop-l);
  margin: 0;
  margin-top: var(--spacing-l);
}

.header-elements img {
  position: absolute;
  z-index: 3;
}

.header-elements .header-el-1 {
  width: 120px;
  transform: rotate(160deg);
  top: 100px;
  left: -70px;
}

.header-elements .header-el-2 {
  width: 65px;
  top: 70px;
  left: 32%;
}

.header-elements .header-el-3 {
  width: 65px;
  top: 130px;
  right: 20%;
}

.header-elements .header-el-4 {
  width: 110px;
  bottom: 220px;
  right: 42%;
}

.header-elements .header-el-5 {
  width: 28px;
  transform: rotate(-118deg);
  bottom: 220px;
  left: 35%;
}

.header-elements .header-el-6,
.header-elements .header-el-7 {
  width: 22px;
}

.header-elements .header-el-6 {
  bottom: 300px;
  left: 5%;
}

.header-elements .header-el-7 {
  bottom: 130px;
  right: 3%;
}

.header-elements .header-el-8 {
  width: 15px;
  transform: rotate(-118deg);
  top: 200px;
  left: 50%;
}

.teste {
  position: absolute;
  width: 480px;
  bottom: -450px;
  right: 150px;
}
