.features-scroll-area {
  height: 350vh;
  position: relative;
}

#features {
  position: absolute;
  background-color: pink;
  top: 50vh;
}

.features-container {
  position: sticky;
  width: 100%;
  height: 100vh;
  padding: 0 140px;
  z-index: 1;
  transition: opacity ease-in-out 0.3s;
}

.features-content {
  max-width: 550px;
  position: absolute;
  top: 50%;
  left: 140px;
  transform: translateY(-50%);
}

.features-content h3 span,
.features-content span {
  font-family: var(--fontFamily-heading);
  font-size: var(--fontSize-desktop-l);
  font-weight: var(--fontWeight-regular);
}

.features-content h3 span {
  color: var(--color-white);
  transition: ease-in-out 0.3s;
}

.features-content > span {
  color: var(--color-secondary);
  position: absolute;
  left: 0;
  transition: opacity ease-in-out 0.3s;
}

.features-phone-position {
  position: absolute;
  top: 50%;
  z-index: 2;
}

.features-phone-container {
  position: relative;
  width: 320px;
  height: 663px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  border-radius: 55px;
  overflow: hidden;
}

.features-phone-container img {
  position: absolute;
}

.features-frame {
  width: 100%;
  z-index: 4;
  top: 0;
}

.features-screen {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 22px);
}

.features-button {
  position: relative;
  margin: 0 30px 30px 0;
  border-radius: 47px;
}

.features-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: opacity ease-in-out 0.3s;
  background: rgba(10, 3, 4, 0.23);
  z-index: 3;
}

.features-payment {
  width: 100%;
  position: absolute;
  width: calc(100% - 22px);
  left: 50%;
  transform: translateX(-50%);
  transition: bottom ease-in-out 0.3s;
  z-index: 3;
}

.features-confetti img {
  position: absolute;
  transition: opacity ease-in-out 0.3s;
}

.confetti-el-1 {
  width: 55px;
}

.confetti-el-2 {
  width: 30px;
}

.confetti-el-3 {
  width: 18px;
}

.confetti-el-4 {
  width: 65px;
}

.confetti-el-5 {
  width: 130px;
  rotate: -150deg;
}

.confetti-el-6 {
  width: 55px;
}

.confetti-el-7 {
  width: 40px;
}

.confetti-el-8 {
  width: 58px;
  rotate: 50deg;
}

.confetti-el-9 {
  width: 63px;
}

.confetti-el-10 {
  width: 47px;
}

.confetti-el-11 {
  width: 50px;
}

.confetti-el-12 {
  width: 130px;
  rotate: -200deg;
}

.confetti-el-13 {
  width: 40px;
  rotate: 80deg;
}

.confetti-el-14 {
  width: 63px;
  rotate: -130deg;
}

.confetti-el-15 {
  width: 18px;
}

.confetti-el-16 {
  width: 14px;
}

.confetti-el-17 {
  width: 65px;
}

.confetti-el-18 {
  width: 58px;
}

.confetti-el-19 {
  width: 130px;
  rotate: 40deg;
}

.confetti-el-20 {
  width: 30px;
}

.confetti-el-21 {
  width: 35px;
  rotate: 90deg;
}
