@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --color-primary: #322e53;
  --color-secondary: #f3ab9d;
  --color-white: #ffffff;
  --color-black: #0a0304;

  --fontFamily-text: "Roboto";
  --fontFamily-heading: "Righteous";

  --fontSize-desktop-xs: 12px;
  --fontSize-desktop-s: 14px;
  --fontSize-desktop-m: 17px;
  --fontSize-desktop-l: 55px;

  --fontWeight-bold: 700;
  --fontWeight-semibold: 500;
  --fontWeight-regular: 400;

  --lineHeight-desktop-s: 26px;

  --spacing-s: 30px;
  --spacing-m: 40px;
  --spacing-l: 50px;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  max-width: 100vw;
  overflow-x: hidden;
  transition: ease-in-out 0.3s;
}

a {
  position: relative;
  z-index: 11;
}

a:hover {
  cursor: pointer;
}

h3 {
  margin: 0;
}

p {
  font-family: var(--fontFamily-text);
  font-size: var(--fontSize-desktop-m);
  margin: 0;
}

.cursor {
  background-color: var(--color-secondary);
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  z-index: 10;
}
