@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --color-primary: #322e53;
    --color-secondary: #f3ab9d;
    --color-white: #ffffff;
    --color-black: #0a0304;

    --fontFamily-text: "Roboto";
    --fontFamily-heading: "Righteous";

    --fontSize-desktop-s: 15px;
    --fontSize-desktop-m: 20px;
    --fontSize-desktop-l: 67px;

    --fontWeight-bold: 700;
    --fontWeight-regular: 400;

    --lineHeight-desktop-s: 26px;

    --spacing-s:  30px;
    --spacing-m: 40px;
    --spacing-l: 72px;
}